<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CRUD Tzuzul</title>
    <link rel="icon" href="/img/crud.png" type="image/png"/>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="Encabezado">
        <p>
          <b>Bienvenido al CRUD de usuarios</b>
        </p>
      </div>
      <div id="content">
        <img class="avatar" src="/img/crud.png" alt="logo Caiman">
        <h1>Ingrese aquí</h1>
          <a href="/registro">Crear usuario</a><br>
          <a href="/users">Mostrar usuarios</a><br>
          <a href="/edit">Editar usuario</a><br>
          <a href="/del">Eliminar usuario</a><br>
        <br />
        <br />
      </div>
    </div>
  </body>
</html>
